extend layout

block script2
    - var pageNo = obj.page

    //- - var kwhHouse_SKL = obj.kwhHouse_SKL
    //- - var kwhHouse_HY1 = obj.kwhHouse_HY1
    //- - var kwhHouse_HY2 = obj.kwhHouse_HY2
    //- - var kwhHouse_STU = obj.kwhHouse_STU
    //- - var kwhHouse_YL1 = obj.kwhHouse_YL1
    //- - var kwhHouse_NW = obj.kwhHouse_NW
    //- - var kwhHouse_SUK = obj.kwhHouse_SUK
    
block content
    
    .content-inner
        header.page-header
            .container-fluid
                h2(style='font-family: Kanit, sans-serif').no-margin-bottom รายงาน Station Service
                //- p= kwhHouse_SKL
        section.dashboard-counts.no-padding-bottom
            .container-fluid
                .row.bg-white.has-shadow
                    //- table 
                    div(style="text-align: center").col-lg-5.col-sm-12
                        .row.no-padding
                            .col
                                h4(style='font-family: Kanit, sans-serif ; text-align: center') บันทึกการใช้ไฟฟ้ารายเดือน
                        div(style="text-align: center").row.no-padding
                            .col(style="justify-content:center")
                                form(action="/station_service", method="post").form-inline
                                    .col-8
                                        .form-group.mx-sm-3.mb-2
                                            select(name="year" style="width:100%" ).form-control
                                                option(value="none" selected disabled hidden) เลื่อกปี
                                                option(value="2563" ) 2563
                                                option(value="2564" ) 2564
                                                option(value="2565" ) 2565
                                                option(value="2566" ) 2566
                                                option(value="2567" ) 2567
                                    .col-4
                                        .form-group
                                            button.btn.btn-primary.mb-2(type="submit") 
                                                i.fas.fa-search
                        .row.no-padding
                            .table-responsive
                                table.table
                                    thead.text-center
                                        tr
                                            th(style="border-top:none")
                                            th(style="font-size:16px ; padding-bottom:5px; border-top:none").text-primary= 'ปี พ.ศ. ' + obj.year
                                            th(style="border-top:none")
                                    thead.text-center
                                        tr
                                            th เดือน
                                            th สถานะการบันทึกข้อมูล
                                            th แก้ไขข้อมูล
                                    tbody.text-center
                                        - var month_list = ["ม.ค.","ก.พ.","มี.ค.","เม.ย.","พ.ค.","มิ.ย.","ก.ค.","ส.ค.","ก.ย.","ต.ค.","พ.ย.","ธ.ค."]
                                        - var i=1 //for check month in month_datas
                                        - var checkMonth = false
                                        each month in month_list
                                            
                                            tr
                                                th(scope="row")= month
                                                td 
                                                    each month_data in obj.month_datas
                                                        if i==month_data._id
                                                            span= month_data.total + '/'+ obj.meter_length
                                                            - checkMonth = true
                                                    if !checkMonth
                                                        span= 0+ '/'+ obj.meter_length
                                                    - checkMonth = false
                                                    //- span(style= "color:green")
                                                    //-     i.fas.fa-check
                                                td
                                                    //-a(href="/station_service_detail?year=" + obj.year + "&month=" + i).btn.btn-warning.btn-sm EDIT
                                                    a(href="/station_service_detail/" + obj.year + "/month/" + i).btn.btn-warning.btn-sm EDIT
                                            
                                            - i++
                                 
                                     


                    .col-lg-7.col-sm-12
                        each kwhHouse_SKL in obj.kwhHouse_SKL
                            input.getHouseSKL(type="hidden", name="kwhHouse_SKL" ,value=kwhHouse_SKL)
                        each kwhHouse_HY1 in obj.kwhHouse_HY1
                            input.getHouseHY1(type="hidden", name="kwhHouse_HY1" ,value=kwhHouse_HY1)
                        each kwhHouse_HY2 in obj.kwhHouse_HY2
                            input.getHouseHY2(type="hidden", name="kwhHouse_HY2" ,value=kwhHouse_HY2)
                        each kwhHouse_STU in obj.kwhHouse_STU
                            input.getHouseSTU(type="hidden", name="kwhHouse_STU" ,value=kwhHouse_STU)
                        each kwhHouse_YL1 in obj.kwhHouse_YL1
                            input.getHouseYL1(type="hidden", name="kwhHouse_YL1" ,value=kwhHouse_YL1)
                        each kwhHouse_NW in obj.kwhHouse_NW
                            input.getHouseNW(type="hidden", name="kwhHouse_NW" ,value=kwhHouse_NW)
                        each kwhHouse_SUK in obj.kwhHouse_SUK
                            input.getHouseSUK(type="hidden", name="kwhHouse_SUK" ,value=kwhHouse_SUK)

                        .line-chart-example.card
                            .card-header.d-flex.align-items-center(style="justify-content:center")
                                h4(style='font-family: Kanit, sans-serif ; text-align: center') กราฟ kWH บ้านพัก
                            .card-body
                                canvas#lineChartHouse
                        
       

        footer.main-footer
            .container-fluid
                .row
                    .col-lg-6.col-sm-12
                        p(style='font-family: Kanit, sans-serif') แผนกบำรุงรักษาสถานีไฟฟ้า3  กองบำรุงรักษาสถานีไฟฟ้าแรงสูง &copy; 2020
                    .col-lg-6.col-sm-6.text-right
                        p
                            | Design by 
                            a.external(href="#") Tawat Rattana